body{
    font-family: 'Shadows Into Light', cursive, 'Amatic SC', cursive, 'Permanent Marker', cursive;
    color: aliceblue;
    background-color: black;
    height:auto;
    width: 100%;
}
.hangman{
    height: 200px;
    width: 200px;
    display:block;
    float: left;
    margin-left: 100px;
    clear: both;
}
h1{
    font-size: 48px;
    color: whitesmoke;
    border: 5px dotted gold;
}
h2{
    color: red;
}
#main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
}
.wins{
    color: gold;
    float: right;
    top: 0;
    margin-right: 200px;
}
/* #text{
    color: greenyellow;
} */
#used{
    color: red;
}