body{
    font-family: 'Shadows Into Light', cursive, 'Amatic SC', cursive, 'Permanent Marker', cursive;
    color: aliceblue;
    background-color: black;
    height:auto;
    width: 100%;
}
h1{
    font-size: 58px;
    border: 5px dotted white;
}
#main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
}